* {
	margin: 0;
	padding: 0;
}

window, document {
	height: 100%;
}

body {
	height: 100%;
	background: yellow;
	display: block;
}

main {
	display: flex;
	height: 100vh;
	background: blue;
	flex-direction: column;
}

h1 { background: #fdd; }
#playlist { background: #dfd; }
#out { background: #ddf; }

header, #playlist, #out {
	flex: 1 100%;
}

header {
	flex: 0;
}

#playlist {
	flex: 10;
	display: block;
	overflow-y: auto;
}

#playlist > div {
	transition: 1s fade-in background;
}

.highlight {
	background: yellow;
}

#out {
	flex: 0;
	display: block;
}
