* {
	margin: 0;
	padding: 0;
}

window, document {
	height: 100%;
}

body {
	height: 100%;
	display: block;
	color: #000;
	background: #fff;
	font-family: Helvetica, Arial, sans-serif;
}

main {
	display: flex;
	height: 100vh;
	flex-direction: column;
}

header, #playlist, #out {
	flex: 1 100%;
}

header {
	flex: 0;
}

#playlist {
	flex: 10;
	display: block;
	overflow-y: auto;
}

#playlist > div {
	transition: background 0.3s ease-in-out;
}

.highlight {
	background: yellow;
}

#out {
	flex: 0;
	display: block;
	background: #ddd;
}
